<div class="flex h-screen overflow-hidden font-sans">

    <div class="relative hidden lg:block lg:w-3/5">
      <img
        class="absolute inset-0 object-cover w-full h-full"
        src="assets/login-main-banner.png"
        alt="Office background"
      />
      <div
        class="absolute inset-0 flex flex-col justify-between p-8 bg-gradient-to-b from-black/30 via-transparent to-black/50"
      >
        <div>
          <img src="assets/QBS-logo.png" alt="QBS Logo" class="h-[61px]" />
        </div>
        <div class="">
          <h2 class="font-sans text-white italic font-semibold text-[44px] leading-[52px]">
            A Smart HR system doesn't just manage people—it empowers them.
          </h2>
        </div>
      </div>
      <div class="absolute bottom-0 left-0 w-full h-[9px] bg-brand-orange"></div>
    </div>
  
    <div class="relative flex flex-col justify-center w-full px-4 py-12 overflow-hidden bg-white lg:w-2/5 sm:px-6 lg:px-20 xl:px-24">
  
      <div class="absolute top-0 right-0 w-[278px] h-[267px] hidden lg:block overflow-hidden -z-0">
        <div class="absolute bottom-0 left-0 w-[550px] h-[550px] bg-teal-100 rounded-full"></div>
      </div>
  
      <div class="w-full max-w-sm mx-auto lg:w-96 relative z-10">
        <div>
          <h2 class="mt-6 font-sans font-semibold text-[32px] leading-[42px] tracking-tight text-black">New Password</h2>
          <p class="mt-2 font-inter text-sm leading-[21px] tracking-tighten text-gray-400">
            Enter new password
          </p>
        </div>
  
        <div class="mt-8">
          <div class="space-y-6">
  
            <div>
              <label for="newPasswordInput" class="block text-sm font-medium text-gray-700">
                New Password
              </label>
              <div class="relative mt-1">
                <input
                  id="newPasswordInput"
                  formControlName="newPassword"
                  [type]="newPasswordVisible ? 'text' : 'password'"
                  required
                  placeholder="************"
                  class="block w-full px-3 py-2 placeholder-gray-400 border border-gray-300 rounded-md shadow-sm appearance-none focus:border-teal-500 focus:outline-none focus:ring-teal-500 sm:text-sm"
                />
                <button
                  type="button"
                  (click)="toggleNewPasswordVisibility()"
                  class="absolute inset-y-0 right-0 flex items-center px-3 text-gray-400 hover:text-teal-500"
                >
                  <mat-icon>{{ newPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </div>
            </div>
  
            <div class="relative mt-1">
                <input
                  id="confirmPasswordInput"
                  name="confirmPassword"
                  [type]="confirmPasswordVisible ? 'text' : 'password'" 
                  required
                  placeholder="************"
                  class="block w-full px-3 py-2 placeholder-gray-400 border border-gray-300 rounded-md shadow-sm appearance-none focus:border-teal-500 focus:outline-none focus:ring-teal-500 sm:text-sm"
                />
                <button
                  type="button"
                  (click)="toggleConfirmPasswordVisibility()"
                  class="absolute inset-y-0 right-0 flex items-center px-3 text-gray-400 hover:text-teal-500"
                >
                  <mat-icon>{{ confirmPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon> <!-- Add dynamic icon -->
                </button>
              </div>
  
  
            <div>
               <button type="button" (click)="updatePassword()"
                      class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-teal-600 border border-transparent rounded-md shadow-sm hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-offset-2">
                Update Password
              </button>
            </div>
  
             <div class="font-inter text-sm leading-[21px] tracking-tighten text-center text-neutral-60">
               Doesn't have an account?
               <a href="#" class="font-medium text-teal-500 hover:text-teal-600 hover:underline">
                 Contact Us
               </a>
             </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>